In [1]:
import pandas as pd
import sqlite3

In [47]:
df_product_cat = pd.read_csv('db_olist/product_category_name_translation.csv')
   
df_product_cat

            product_category_name product_category_name_english
0                    beleza_saude                 health_beauty
1          informatica_acessorios         computers_accessories
2                      automotivo                          auto
3                 cama_mesa_banho                bed_bath_table
4                moveis_decoracao               furniture_decor
..                            ...                           ...
66                         flores                       flowers
67             artes_e_artesanato         arts_and_craftmanship
68                fraldas_higiene           diapers_and_hygiene
69  fashion_roupa_infanto_juvenil     fashion_childrens_clothes
70             seguros_e_servicos         security_and_services

[71 rows x 2 columns]

In [56]:
# Insert product category data
conn = sqlite3.connect("database/e-commerce.db")

df_product_cat.rename(columns = {'product_category_name':'name', 'product_category_name_english':'english'}, inplace = True)
df_product_cat.to_sql('product_cat', conn, if_exists='replace', index = False)

71

In [60]:
# Insert product category data
df_product = pd.read_csv('db_olist/olist_products_dataset.csv')
df_product.columns = ['id', 'name', 'name_lenght', 'description_lenght', 'photos_qty', 'weight_g', 'lenght_cm', 'height_cm', 'wight_cm']
df_product.to_sql('product', conn, if_exists='replace', index = False)

32951

In [63]:
# Insert order item data
df_order_item = pd.read_csv('db_olist/olist_order_items_dataset.csv')
df_order_item.columns = ['order_id', 'item_id', 'product_id', 'seller_id', 'limit_date', 'price', 'freight_value']
df_order_item.to_sql('order_item', conn, if_exists='replace', index = False)

112650

In [2]:
# Insert seller data
df_seller = pd.read_csv('db_olist/olist_sellers_dataset.csv')
df_seller = df_seller[['seller_id','seller_zip_code_prefix']]
df_seller.columns = ['id','zip_code']

conn = sqlite3.connect("database/e-commerce.db")
df_seller.to_sql('seller', conn, if_exists='append', index = False)

3095

In [3]:
# Insert geolocation data
df_geolocation = pd.read_csv('db_olist/olist_geolocation_dataset.csv')
df_geolocation.columns = ['zip_code', 'latitude', 'longitude', 'city', 'state']
df_geolocation.to_sql('geolocation', conn, if_exists='replace', index = False)

1000163

In [5]:
# Insert customer data
df_customer = pd.read_csv('db_olist/olist_customers_dataset.csv')
df_customer = df_customer [['customer_id', 'customer_unique_id', 'customer_zip_code_prefix']]
df_customer.columns = ['id', 'unique_id', 'zip_code']
df_customer.to_sql('customer', conn, if_exists='replace', index = False)

99441

In [6]:
# Insert paiement data
df_paiement = pd.read_csv('db_olist/olist_order_payments_dataset.csv')
df_paiement.columns = ['order_id', 'sequential', 'type', 'installments', 'value']
df_paiement.to_sql('order_paiement', conn, if_exists='replace', index = False)

103886

In [7]:
# Insert review data
df_review = pd.read_csv('db_olist/olist_order_reviews_dataset.csv')
df_review.columns = ['id', 'order_id', 'score', 'comment_title', 'comment_msg', 'creation_date', 'answer_timestamp']
df_review.to_sql('order_review', conn, if_exists='replace', index = False)

99224

In [8]:
# Insert order data
df_order = pd.read_csv('db_olist/olist_orders_dataset.csv')
df_order.columns = ['order_id', 'customer_id', 'status', 'purchase_timestamp', 'approuved', 'order_approved_at', 'order_delivered_carrier_date', 'order_estimated_delivery_date']
df_order.to_sql('order_dataset', conn, if_exists='replace', index = False)

99441