In [1]:
import sqlite3
from sqlite3 import Error
import pandas as pd

In [2]:
db_name = "../database/e-commerce.db"

def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    # YOUR CODE
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
        return conn
    except Error as e:
        print(e)
        


conn = create_connection(db_name)
conn

2.6.0

In [3]:

    cur = conn.cursor()
#     the table wight_cm can become width_cm
    cur.execute('''SELECT order_item.item_id, weight_g, lenght_cm, height_cm, wight_cm, customer.zip_code, seller.zip_code
                FROM product
                LEFT JOIN order_item ON product.id = order_item.product_id
                LEFT JOIN order_dataset ON order_item.order_id = order_dataset.order_id
                LEFT JOIN customer ON customer.id = order_dataset.customer_id          
                LEFT JOIN seller ON order_item.seller_id = seller.id                
                ''')
    
    res_cur = cur.fetchall()

In [4]:
df_bdd = pd.DataFrame(res_cur, columns=["nb_product", "weight", "lenght", "height", "width", "zip_code_customer", "zip_code_seller"])
df_bdd

,nb_product,weight,lenght,height,width,zip_code_customer,zip_code_seller
0,1,225.0,16.0,10.0,14.0,13848,3694
1,1,1000.0,30.0,18.0,20.0,20551,2955
2,1,154.0,18.0,9.0,15.0,5821,2016
3,1,371.0,26.0,4.0,26.0,2018,13330
4,1,625.0,20.0,17.0,13.0,5835,4461
...,...,...,...,...,...,...,...
112645,2,700.0,31.0,13.0,20.0,38130,13720
112646,1,700.0,31.0,13.0,20.0,46190,13720
112647,2,700.0,31.0,13.0,20.0,46190,13720
112648,3,700.0,31.0,13.0,20.0,46190,13720
112649,1,2083.0,12.0,2.0,7.0,32370,14940