In [1]:
%pip install geopy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: geopy in c:\users\joao0\appdata\roaming\python\python39\site-packages (2.3.0)
Requirement already satisfied: geographiclib<3,>=1.52 in c:\users\joao0\appdata\roaming\python\python39\site-packages (from geopy) (2.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import sqlite3
from sqlite3 import Error
import pandas as pd
import geopy.distance

import urllib.request
import json

In [3]:
db_name = "../database/e-commerce.db"

def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    # YOUR CODE
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
        return conn
    except Error as e:
        print(e)
        


conn = create_connection(db_name)
conn

2.6.0

In [4]:

    cur = conn.cursor()
#     the table wight_cm can become width_cm   --> order_delivered_carrier_date == order_delivered_customer_date
    cur.execute('''
                SELECT 
                order_item.item_id, 
                order_item.freight_value, 
                order_item.price, 
                weight_g,
                lenght_cm, 
                height_cm, wight_cm, 
                customer.zip_code, 
                seller.zip_code, 
                order_dataset.purchase_timestamp,
                order_dataset.order_estimated_delivery_date, 
                order_dataset.order_delivered_carrier_date
                FROM product
                LEFT JOIN order_item ON product.id = order_item.product_id
                LEFT JOIN order_dataset ON order_item.order_id = order_dataset.order_id
                LEFT JOIN customer ON customer.id = order_dataset.customer_id          
                LEFT JOIN seller ON order_item.seller_id = seller.id                
                ''')
    
    res_cur = cur.fetchall()

In [5]:
df_bdd = pd.DataFrame(res_cur, columns=["nb_product", "prix_de_livraison", "product_price", "weight", "lenght", "height", "width", "zip_code_customer", "zip_code_seller", "date_purchase", "date_delevery_estimate", "date_delivery"])
df_bdd

,nb_product,prix_de_livraison,product_price,weight,lenght,height,width,zip_code_customer,zip_code_seller,date_purchase,date_delevery_estimate,date_delivery
0,1,7.39,10.91,225.0,16.0,10.0,14.0,13848,3694,2018-04-24 16:16:53,2018-05-09 00:00:00,2018-04-27 16:42:17
1,1,17.99,248.00,1000.0,30.0,18.0,20.0,20551,2955,2018-01-31 18:55:36,2018-02-22 00:00:00,2018-02-16 13:27:08
2,1,7.82,79.80,154.0,18.0,9.0,15.0,5821,2016,2018-07-09 21:18:01,2018-07-18 00:00:00,2018-07-11 23:24:16
3,1,9.54,112.30,371.0,26.0,4.0,26.0,2018,13330,2018-08-03 08:55:50,2018-08-08 00:00:00,2018-08-06 15:14:32
4,1,8.29,37.90,625.0,20.0,17.0,13.0,5835,4461,2018-04-11 01:06:37,2018-04-26 00:00:00,2018-04-13 22:41:44
...,...,...,...,...,...,...,...,...,...,...,...,...
112645,2,16.11,29.90,700.0,31.0,13.0,20.0,38130,13720,2018-01-03 15:05:53,2018-02-02 00:00:00,2018-01-15 20:39:35
112646,1,23.28,29.90,700.0,31.0,13.0,20.0,46190,13720,2018-03-06 11:51:44,2018-04-05 00:00:00,2018-03-23 20:08:40
112647,2,23.28,29.90,700.0,31.0,13.0,20.0,46190,13720,2018-03-06 11:51:44,2018-04-05 00:00:00,2018-03-23 20:08:40
112648,3,23.28,29.90,700.0,31.0,13.0,20.0,46190,13720,2018-03-06 11:51:44,2018-04-05 00:00:00,2018-03-23 20:08:40
112649,1,27.05,107.50,2083.0,12.0,2.0,7.0,32370,14940,2018-06-28 08:15:31,2018-07-20 00:00:00,2018-07-03 20:46:26

In [6]:

    cur = conn.cursor()
#     the table wight_cm can become width_cm   --> order_delivered_carrier_date == order_delivered_customer_date
    cur.execute('''
                SELECT 
                customer.zip_code, latitude, longitude
                FROM customer
                LEFT JOIN geolocation ON geolocation.zip_code = customer.zip_code
                WHERE geolocation.zip_code = customer.zip_code
                ''')
    
    res_cur = cur.fetchall()

In [7]:
df_customer_geoloc = pd.DataFrame(res_cur, columns=["zip_code", "latitude", "longitude"])
df_customer_geoloc

          zip_code   latitude  longitude
0            14409 -20.519565 -47.391123
1            14409 -20.518938 -47.397374
2            14409 -20.518888 -47.394047
3            14409 -20.518675 -47.393997
4            14409 -20.518012 -47.397669
...            ...        ...        ...
15083450      6703 -23.592456 -46.909913
15083451      6703 -23.592444 -46.912804
15083452      6703 -23.592340 -46.909686
15083453      6703 -23.584425 -46.892014
15083454      6703 -23.583426 -46.891856

[15083455 rows x 3 columns]

In [8]:

    cur = conn.cursor()
#     the table wight_cm can become width_cm   --> order_delivered_carrier_date == order_delivered_customer_date
    cur.execute('''
                SELECT 
                seller.zip_code, latitude, longitude
                FROM seller
                LEFT JOIN geolocation ON geolocation.zip_code = seller.zip_code
                WHERE geolocation.zip_code = seller.zip_code
                ''')
    
    res_cur = cur.fetchall()

In [9]:
df_seller_geoloc = pd.DataFrame(res_cur, columns=["zip_code", "latitude", "longitude"])
df_seller_geoloc

        zip_code   latitude  longitude
0          13023 -22.900175 -47.063856
1          13023 -22.899471 -47.064267
2          13023 -22.899471 -47.064267
3          13023 -22.899471 -47.064267
4          13023 -22.899325 -47.064235
...          ...        ...        ...
435082     12051 -23.003683 -45.585529
435083     12051 -23.003588 -45.585723
435084     12051 -23.003383 -45.587077
435085     12051 -23.003368 -45.587391
435086     12051 -23.003363 -45.586587

[435087 rows x 3 columns]

In [ ]:
cur = conn.cursor()
#     the table wight_cm can become width_cm   --> order_delivered_carrier_date == order_delivered_customer_date
cur.execute('''
            SELECT 
            zip_code, latitude, longitude
            FROM geolocation
            ''')

res_cur = cur.fetchall()

df_geoloc = pd.DataFrame(res_cur, columns=["zip_code", "latitude", "longitude"])
df_geoloc

## pour trouver la distance entre les geolocalisation nous tester plusieurs solutions.
### Solution 1:

In [10]:
from math import sin, cos, sqrt, atan2, radians

# approximate radius of earth in km
R = 6373.0

lat1 = radians(-22.2569861454338)
lon1 = radians(-45.6968690671541)
lat2 = radians(-22.4733036420427)
lon2 = radians(-45.6139087768263)

dlon = lon2 - lon1
dlat = lat2 - lat1

a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
c = 2 * atan2(sqrt(a), sqrt(1 - a))

distance = R * c

print("Result:", distance)
print("Should be:", 278.546, "km")

Result: 25.52941069384593
Should be: 278.546 km


### Solution 2:
### nous decidons de garder d'utiliser cette methode car plus simple et lisible.

In [11]:
coords_1 = (-22.2569861454338, -45.6968690671541)
coords_2 = (-22.4733036420427, -45.6139087768263)

print(geopy.distance.geodesic(coords_1, coords_2).km)

25.432299832611168