In [1]:
%pip install geopy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: geopy in c:\users\joao0\appdata\roaming\python\python39\site-packages (2.3.0)
Requirement already satisfied: geographiclib<3,>=1.52 in c:\users\joao0\appdata\roaming\python\python39\site-packages (from geopy) (2.0)
Note: you may need to restart the kernel to use updated packages.

In [69]:
import sqlite3
from sqlite3 import Error
import pandas as pd
import numpy as np
import geopy.distance

import urllib.request
import json

In [3]:
db_name = "../database/e-commerce.db"

def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    # YOUR CODE
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
        return conn
    except Error as e:
        print(e)
        


conn = create_connection(db_name)
conn

2.6.0

In [4]:

    cur = conn.cursor()
#     the table wight_cm can become width_cm   --> order_delivered_carrier_date == order_delivered_customer_date
    cur.execute('''
                SELECT 
                order_item.item_id, 
                order_item.freight_value, 
                order_item.price, 
                weight_g,
                lenght_cm, 
                height_cm, wight_cm, 
                customer.zip_code, 
                seller.zip_code, 
                order_dataset.purchase_timestamp,
                order_dataset.order_estimated_delivery_date, 
                order_dataset.order_delivered_carrier_date
                FROM product
                LEFT JOIN order_item ON product.id = order_item.product_id
                LEFT JOIN order_dataset ON order_item.order_id = order_dataset.order_id
                LEFT JOIN customer ON customer.id = order_dataset.customer_id          
                LEFT JOIN seller ON order_item.seller_id = seller.id                
                ''')
    
    res_cur = cur.fetchall()

In [5]:
df_bdd = pd.DataFrame(res_cur, columns=["nb_product", "prix_de_livraison", "product_price", "weight", "lenght", "height", "width", "zip_code_customer", "zip_code_seller", "date_purchase", "date_delevery_estimate", "date_delivery"])
df_bdd

,nb_product,prix_de_livraison,product_price,weight,lenght,height,width,zip_code_customer,zip_code_seller,date_purchase,date_delevery_estimate,date_delivery
0,1,7.39,10.91,225.0,16.0,10.0,14.0,13848,3694,2018-04-24 16:16:53,2018-05-09 00:00:00,2018-04-27 16:42:17
1,1,17.99,248.00,1000.0,30.0,18.0,20.0,20551,2955,2018-01-31 18:55:36,2018-02-22 00:00:00,2018-02-16 13:27:08
2,1,7.82,79.80,154.0,18.0,9.0,15.0,5821,2016,2018-07-09 21:18:01,2018-07-18 00:00:00,2018-07-11 23:24:16
3,1,9.54,112.30,371.0,26.0,4.0,26.0,2018,13330,2018-08-03 08:55:50,2018-08-08 00:00:00,2018-08-06 15:14:32
4,1,8.29,37.90,625.0,20.0,17.0,13.0,5835,4461,2018-04-11 01:06:37,2018-04-26 00:00:00,2018-04-13 22:41:44
...,...,...,...,...,...,...,...,...,...,...,...,...
112645,2,16.11,29.90,700.0,31.0,13.0,20.0,38130,13720,2018-01-03 15:05:53,2018-02-02 00:00:00,2018-01-15 20:39:35
112646,1,23.28,29.90,700.0,31.0,13.0,20.0,46190,13720,2018-03-06 11:51:44,2018-04-05 00:00:00,2018-03-23 20:08:40
112647,2,23.28,29.90,700.0,31.0,13.0,20.0,46190,13720,2018-03-06 11:51:44,2018-04-05 00:00:00,2018-03-23 20:08:40
112648,3,23.28,29.90,700.0,31.0,13.0,20.0,46190,13720,2018-03-06 11:51:44,2018-04-05 00:00:00,2018-03-23 20:08:40
112649,1,27.05,107.50,2083.0,12.0,2.0,7.0,32370,14940,2018-06-28 08:15:31,2018-07-20 00:00:00,2018-07-03 20:46:26

In [6]:
cur = conn.cursor()
#     the table wight_cm can become width_cm   --> order_delivered_carrier_date == order_delivered_customer_date
cur.execute('''
            SELECT 
            zip_code, latitude, longitude
            FROM geolocation
            ''')

res_cur = cur.fetchall()

df_geoloc = pd.DataFrame(res_cur, columns=["zip_code", "latitude", "longitude"])
df_geoloc

         zip_code   latitude  longitude
0            1037 -23.545621 -46.639292
1            1046 -23.546081 -46.644820
2            1046 -23.546129 -46.642951
3            1041 -23.544392 -46.639499
4            1035 -23.541578 -46.641607
...           ...        ...        ...
1000158     99950 -28.068639 -52.010705
1000159     99900 -27.877125 -52.224882
1000160     99950 -28.071855 -52.014716
1000161     99980 -28.388932 -51.846871
1000162     99950 -28.070104 -52.018658

[1000163 rows x 3 columns]

In [7]:
df_bdd = df_bdd.drop_duplicates(['zip_code_customer']).merge(df_geoloc.drop_duplicates(['zip_code']), left_on='zip_code_customer', right_on='zip_code', how="left", suffixes = ("","_customer"))
df_bdd

,nb_product,prix_de_livraison,product_price,weight,lenght,height,width,zip_code_customer,zip_code_seller,date_purchase,date_delevery_estimate,date_delivery,zip_code,latitude,longitude
0,1,7.39,10.91,225.0,16.0,10.0,14.0,13848,3694,2018-04-24 16:16:53,2018-05-09 00:00:00,2018-04-27 16:42:17,13848.0,-22.331249,-46.922580
1,1,17.99,248.00,1000.0,30.0,18.0,20.0,20551,2955,2018-01-31 18:55:36,2018-02-22 00:00:00,2018-02-16 13:27:08,20551.0,-22.915371,-43.242996
2,1,7.82,79.80,154.0,18.0,9.0,15.0,5821,2016,2018-07-09 21:18:01,2018-07-18 00:00:00,2018-07-11 23:24:16,5821.0,-23.666423,-46.753278
3,1,9.54,112.30,371.0,26.0,4.0,26.0,2018,13330,2018-08-03 08:55:50,2018-08-08 00:00:00,2018-08-06 15:14:32,2018.0,-23.493511,-46.631067
4,1,8.29,37.90,625.0,20.0,17.0,13.0,5835,4461,2018-04-11 01:06:37,2018-04-26 00:00:00,2018-04-13 22:41:44,5835.0,-23.653137,-46.759223
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14971,1,15.29,59.00,450.0,59.0,13.0,38.0,74786,7084,2018-04-27 13:33:36,2018-05-24 00:00:00,2018-05-08 22:52:07,74786.0,-16.637430,-49.174428
14972,1,10.96,30.97,443.0,21.0,13.0,17.0,5685,14090,2017-01-25 22:19:51,2017-02-20 00:00:00,2017-02-08 10:17:35,5685.0,-23.608422,-46.704976
14973,1,26.11,69.90,12300.0,40.0,40.0,40.0,36390,37564,2018-02-07 10:16:13,2018-03-06 00:00:00,2018-02-15 18:13:21,36390.0,-21.299180,-44.656737
14974,1,34.69,127.00,1400.0,27.0,7.0,27.0,65910,19470,2018-02-12 00:27:57,2018-03-15 00:00:00,2018-03-15 21:12:32,65910.0,-5.520220,-47.475720
14975,1,16.11,29.90,700.0,31.0,13.0,20.0,38130,13720,2018-01-03 15:05:53,2018-02-02 00:00:00,2018-01-15 20:39:35,38130.0,-19.760147,-48.571943

In [8]:
df_bdd = df_bdd.drop_duplicates(['zip_code_seller']).merge(df_geoloc.drop_duplicates(['zip_code']), left_on='zip_code_seller', right_on='zip_code', how="left", suffixes = ("","_seller"))
df_bdd

,nb_product,prix_de_livraison,product_price,weight,lenght,height,width,zip_code_customer,zip_code_seller,date_purchase,date_delevery_estimate,date_delivery,zip_code,latitude,longitude,zip_code_seller,latitude_seller,longitude_seller
0,1,7.39,10.91,225.0,16.0,10.0,14.0,13848,3694,2018-04-24 16:16:53,2018-05-09 00:00:00,2018-04-27 16:42:17,13848.0,-22.331249,-46.922580,3694.0,-23.537922,-46.477696
1,1,17.99,248.00,1000.0,30.0,18.0,20.0,20551,2955,2018-01-31 18:55:36,2018-02-22 00:00:00,2018-02-16 13:27:08,20551.0,-22.915371,-43.242996,2955.0,-23.468441,-46.720688
2,1,7.82,79.80,154.0,18.0,9.0,15.0,5821,2016,2018-07-09 21:18:01,2018-07-18 00:00:00,2018-07-11 23:24:16,5821.0,-23.666423,-46.753278,2016.0,-23.500978,-46.627123
3,1,9.54,112.30,371.0,26.0,4.0,26.0,2018,13330,2018-08-03 08:55:50,2018-08-08 00:00:00,2018-08-06 15:14:32,2018.0,-23.493511,-46.631067,13330.0,-23.089035,-47.214419
4,1,8.29,37.90,625.0,20.0,17.0,13.0,5835,4461,2018-04-11 01:06:37,2018-04-26 00:00:00,2018-04-13 22:41:44,5835.0,-23.653137,-46.759223,4461.0,-23.692896,-46.680210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1430,1,26.03,169.99,3350.0,62.0,20.0,40.0,39113,8599,2018-01-26 14:36:46,2018-02-22 00:00:00,2018-02-27 19:16:48,39113.0,-17.694884,-43.333244,8599.0,-23.462597,-46.335317
1431,1,24.84,39.99,100.0,16.0,2.0,11.0,68926,9572,2017-02-28 22:12:55,2017-04-07 00:00:00,2017-03-16 13:42:06,68926.0,-0.053523,-51.160746,9572.0,-23.643648,-46.563861
1432,1,26.09,269.90,1133.0,30.0,18.0,23.0,58690,26125,2017-02-16 19:56:08,2017-03-29 00:00:00,None,58690.0,-7.379848,-36.942182,26125.0,-22.728758,-43.402930
1433,1,37.16,35.00,150.0,16.0,8.0,16.0,62748,5043,2018-07-15 10:46:14,2018-08-09 00:00:00,2018-07-27 20:43:29,62748.0,-4.467966,-38.901787,5043.0,-23.526016,-46.689754
1434,1,34.69,127.00,1400.0,27.0,7.0,27.0,65910,19470,2018-02-12 00:27:57,2018-03-15 00:00:00,2018-03-15 21:12:32,65910.0,-5.520220,-47.475720,19470.0,-21.772896,-52.109458

In [9]:
df_bdd = df_bdd.rename({'latitude': 'latitude_customer', 'longitude': 'longitude_customer'}, axis=1)
df_bdd.drop(columns=['zip_code'])
df_bdd

,nb_product,prix_de_livraison,product_price,weight,lenght,height,width,zip_code_customer,zip_code_seller,date_purchase,date_delevery_estimate,date_delivery,zip_code,latitude_customer,longitude_customer,zip_code_seller,latitude_seller,longitude_seller
0,1,7.39,10.91,225.0,16.0,10.0,14.0,13848,3694,2018-04-24 16:16:53,2018-05-09 00:00:00,2018-04-27 16:42:17,13848.0,-22.331249,-46.922580,3694.0,-23.537922,-46.477696
1,1,17.99,248.00,1000.0,30.0,18.0,20.0,20551,2955,2018-01-31 18:55:36,2018-02-22 00:00:00,2018-02-16 13:27:08,20551.0,-22.915371,-43.242996,2955.0,-23.468441,-46.720688
2,1,7.82,79.80,154.0,18.0,9.0,15.0,5821,2016,2018-07-09 21:18:01,2018-07-18 00:00:00,2018-07-11 23:24:16,5821.0,-23.666423,-46.753278,2016.0,-23.500978,-46.627123
3,1,9.54,112.30,371.0,26.0,4.0,26.0,2018,13330,2018-08-03 08:55:50,2018-08-08 00:00:00,2018-08-06 15:14:32,2018.0,-23.493511,-46.631067,13330.0,-23.089035,-47.214419
4,1,8.29,37.90,625.0,20.0,17.0,13.0,5835,4461,2018-04-11 01:06:37,2018-04-26 00:00:00,2018-04-13 22:41:44,5835.0,-23.653137,-46.759223,4461.0,-23.692896,-46.680210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1430,1,26.03,169.99,3350.0,62.0,20.0,40.0,39113,8599,2018-01-26 14:36:46,2018-02-22 00:00:00,2018-02-27 19:16:48,39113.0,-17.694884,-43.333244,8599.0,-23.462597,-46.335317
1431,1,24.84,39.99,100.0,16.0,2.0,11.0,68926,9572,2017-02-28 22:12:55,2017-04-07 00:00:00,2017-03-16 13:42:06,68926.0,-0.053523,-51.160746,9572.0,-23.643648,-46.563861
1432,1,26.09,269.90,1133.0,30.0,18.0,23.0,58690,26125,2017-02-16 19:56:08,2017-03-29 00:00:00,None,58690.0,-7.379848,-36.942182,26125.0,-22.728758,-43.402930
1433,1,37.16,35.00,150.0,16.0,8.0,16.0,62748,5043,2018-07-15 10:46:14,2018-08-09 00:00:00,2018-07-27 20:43:29,62748.0,-4.467966,-38.901787,5043.0,-23.526016,-46.689754
1434,1,34.69,127.00,1400.0,27.0,7.0,27.0,65910,19470,2018-02-12 00:27:57,2018-03-15 00:00:00,2018-03-15 21:12:32,65910.0,-5.520220,-47.475720,19470.0,-21.772896,-52.109458

## pour trouver la distance entre les geolocalisation nous tester plusieurs solutions.
### Solution 1:

In [10]:
from math import sin, cos, sqrt, atan2, radians

# approximate radius of earth in km
R = 6373.0

lat1 = radians(-22.2569861454338)
lon1 = radians(-45.6968690671541)
lat2 = radians(-22.4733036420427)
lon2 = radians(-45.6139087768263)

dlon = lon2 - lon1
dlat = lat2 - lat1

a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
c = 2 * atan2(sqrt(a), sqrt(1 - a))

distance = R * c

print("Result:", distance)
print("Should be:", 278.546, "km")

Result: 25.52941069384593
Should be: 278.546 km


### Solution 2:
### nous decidons de garder d'utiliser cette methode car plus simple et lisible.

In [11]:
coords_1 = (-22.2569861454338, -45.6968690671541)
coords_2 = (-22.4733036420427, -45.6139087768263)

print(geopy.distance.geodesic(coords_1, coords_2).km)

25.432299832611168

In [42]:
print(df_bdd[["latitude_customer","longitude_customer"]].to_string(index=False, header=None))

-22.331249 -46.922580
-22.915371 -43.242996
-23.666423 -46.753278
-23.493511 -46.631067
-23.653137 -46.759223
-20.415339 -42.891537
-23.460347 -46.540935
-23.699209 -46.396573
-12.784546 -38.390486
 -5.077309 -42.811761
-23.602163 -46.823716
-19.994603 -43.888394
-22.884746 -43.318324
 -7.977935 -34.918821
-23.517127 -46.190667
-23.494133 -46.970809
-22.930836 -45.455415
-23.656294 -46.554122
-21.146232 -43.762615
-23.462597 -46.335317
-23.323582 -46.571516
-27.615683 -48.587666
 -9.577174 -35.738418
-23.583598 -46.507148
-16.687527 -49.265462
-23.506891 -46.785866
-22.799804 -43.437372
 -7.982395 -34.919276
-23.548338 -46.841360
-18.167224 -42.766094
-26.471192 -48.998747
-21.530634 -42.192998
-19.939689 -43.975338
-22.842634 -43.074121
-23.520466 -46.705557
-22.598629 -44.035471
-15.840667 -48.051943
-23.557128 -46.604530
 -5.877772 -35.217160
-22.925733 -43.222347
 -6.101156 -38.204566
-23.246561 -45.897501
-23.598996 -46.683581
-17.736463 -49.804319
 -5.135516 -42.805422
-22.805776 -43.203935
-23.635804 -46.638032
-23.617764 -46.574965
-23.280534 -46.748457
-36.605374 -64.283946
-19.941422 -43.932339
-23.496225 -47.370419
-23.961161 -46.389928
-22.987530 -47.116565
 -5.755556 -35.257402
-12.130004 -44.976011
-19.853036 -43.952771
-23.503269 -46.875453
-21.753759 -41.333899
-29.711717 -53.716524
-23.598188 -46.500497
-22.984742 -43.195865
-23.544874 -46.640303
-22.465012 -42.657960
-14.783355 -39.269541
-22.888294 -42.043041
-23.431627 -45.077229
-22.898440 -43.281175
-23.477093 -46.135384
-23.724134 -46.575546
-21.232268 -43.770024
-22.288946 -42.532119
-22.933115 -43.175378
-22.842290 -43.297621
-21.762825 -43.342956
 -8.128884 -34.941040
-12.999251 -38.523437
-25.291725 -54.100236
-23.670374 -46.525675
-23.313367 -46.231843
-19.814059 -43.958216
-22.852758 -47.055102
 -3.633859 -44.376478
-15.832335 -48.038802
-14.518523 -49.131917
-20.721938 -42.866012
-21.600017 -48.361507
-23.525437 -46.413072
-23.959748 -46.313592
-22.502689 -41.924882
 -8.282110 -35.022100
-21.301371 -46.798887
-22.911270 -43.105151
-28.626077 -52.952426
 -1.999317 -49.857139
-23.737584 -53.485975
-23.537310 -46.678766
 -6.360209 -39.294840
-19.801332 -43.177222
-21.546441 -45.430569
-23.440107 -46.789609
-12.901859 -38.404765
-25.507526 -49.164543
-23.657594 -46.698906
-25.545001 -49.383876
-22.918810 -43.265354
-22.945094 -46.997937
 -2.419314 -48.249224
-23.537290 -46.654431
-22.658944 -43.036810
-18.960815 -47.001483
-22.884497 -43.126623
       NaN        NaN
-20.122131 -40.316095
 -4.942095 -40.538399
-22.763895 -47.226482
-22.664022 -45.006658
-23.605202 -46.618441
-23.483826 -46.804468
-19.871858 -44.082242
-23.524782 -46.703476
-23.561091 -46.538880
-23.541942 -46.490955
-23.592724 -46.631584
-15.838528 -48.110471
-18.947540 -48.292085
-22.387330 -46.928040
-23.110654 -45.717296
-22.748621 -43.392583
-19.830921 -43.963581
-20.707433 -44.832976
-19.924167 -43.916480
-23.619342 -46.663611
-22.973940 -43.190176
-12.879225 -38.293392
-29.694824 -51.138824
-23.026045 -43.461041
-16.002978 -47.994403
-23.617639 -46.638981
-23.550724 -46.622536
-29.953554 -51.103414
-23.619744 -46.675873
-23.654302 -46.690656
-22.932822 -45.448482
-30.029339 -51.212078
-22.901360 -43.124152
-20.728219 -46.615531
-23.316209 -51.111213
-23.706697 -46.545691
-20.312831 -40.393325
-23.574334 -46.501817
-22.104120 -51.431762
-22.737278 -47.312670
-12.512240 -38.494198
-20.289203 -45.541896
-23.689243 -46.777042
-21.768719 -41.325904
-21.131145 -42.360993
-23.646846 -46.666055
-23.692858 -46.639641
-18.721753 -41.164113
-23.432149 -47.067145
 -8.133081 -34.904794
-23.379132 -46.319312
-22.182878 -47.400871
-22.975906 -43.189632
-23.471944 -46.598645
-23.502154 -46.616881
-22.737882 -45.123820
-22.814755 -43.372143
-23.544422 -46.788399
-23.760918 -46.707116
-23.625774 -46.568553
-15.799101 -47.919907
-23.482623 -46.374490
-23.671792 -46.500832
-19.946083 -43.966746
-19.845062 -43.984663
-23.527312 -46.561374
-19.934353 -43.915920
-22.255505 -54.813308
 -9.551497 -35.746674
-29.696044 -51.243518
-23.572301 -46.652000
-22.014017 -47.874963
-23.572144 -46.587403
-23.451481 -46.530110
-29.189989 -54.871998
-23.467454 -46.748218
-23.387852 -51.942264
-23.296458 -45.973296
-27.047988 -52.634009
-15.821608 -48.123555
-22.740988 -47.607060
-21.266695 -48.315821
-25.438968 -49.274484
-27.990203 -49.584222
-22.920105 -43.221382
-23.483554 -47.453816
-23.997263 -46.304555
-22.917907 -43.680795
-23.547588 -46.421001
-22.942045 -43.192374
-23.478461 -46.747800
-27.609382 -48.521620
-22.322080 -49.074316
-20.429952 -54.653642
-15.806525 -47.935829
-29.964209 -51.712058
-23.084125 -46.981213
-20.846908 -41.153853
-26.352589 -52.853065
-22.983092 -46.995791
-13.370947 -39.072294
-24.309429 -46.991091
-23.655114 -47.220292
-27.781374 -48.529716
-15.842187 -48.030744
-16.172479 -42.289125
-22.945175 -43.186743
-23.631268 -49.314933
-22.799795 -47.303141
-23.486482 -46.684360
-17.537481 -39.739981
-19.862477 -43.897108
-15.082991 -43.118327
 -1.365664 -48.410308
-23.296056 -51.240577
-22.840359 -43.066987
-25.533552 -49.187269
-24.522633 -48.106190
-22.964617 -43.177067
-22.752315 -47.323715
-21.732666 -48.111971
-22.850223 -51.024158
-23.615736 -46.663750
-23.531632 -46.885603
-29.513655 -51.810980
-22.846952 -47.027434
-23.661023 -46.664270
-25.425530 -49.254480
-23.704341 -46.526584
-23.582403 -46.495111
-21.084194 -48.809740
-22.897098 -43.188445
-23.570123 -46.535503
-22.952821 -47.028654
-29.291862 -51.511389
-23.512680 -46.702479
-23.475767 -46.625234
-23.606670 -51.643662
-16.460169 -54.608753
-23.724048 -46.573609
-21.124485 -44.237642
-23.493171 -46.847466
-22.956691 -46.540872
-23.480328 -46.553380
-22.383142 -47.376883
-23.931407 -47.071996
-23.536853 -46.576274
-23.533152 -46.523955
-27.288615 -50.576966
-11.730363 -49.071284
-23.583555 -46.777990
-30.033270 -51.204233
-30.047581 -51.134612
-25.489982 -54.549077
-23.669305 -46.481598
-23.410895 -46.866691
-20.628863 -43.952945
-22.909710 -43.171322
       NaN        NaN
 -8.295041 -35.034310
-23.563372 -46.937101
-22.842987 -47.155502
-24.788262 -50.010072
-23.568162 -46.661179
-22.645068 -50.431452
-23.699353 -46.560031
-15.772179 -47.884507
-29.992991 -53.500945
-17.880313 -51.734857
-30.077021 -51.131395
-23.559784 -46.666079
-22.681822 -44.317775
-23.298580 -46.029952
-22.972721 -47.102264
-23.620665 -46.588682
-24.114191 -49.332542
-23.594924 -46.449941
-22.942874 -45.395323
-23.656677 -46.444208
-22.775863 -43.362487
 -7.101960 -34.842360
-16.186824 -40.691612
-22.971802 -43.187446
-23.680114 -46.452454
-23.460350 -46.748463
-23.159609 -45.908855
-22.776584 -43.354145
 -1.056267 -46.762709
 -8.094041 -34.938926
-23.558105 -46.553206
-22.931016 -42.610427
-18.929062 -46.967791
-12.862323 -38.478375
-18.577526 -46.528396
-22.955490 -43.200580
-19.731044 -47.922059
-23.608399 -46.450935
-23.382194 -51.955298
 -5.084799 -37.609133
-10.332138 -40.153307
-19.306710 -44.418699
-29.648828 -50.781003
-30.025507 -51.203963
-23.499711 -46.639361
 -1.295739 -48.481816
-22.983863 -43.215811
-22.774346 -47.398444
-29.165805 -51.222596
-17.303533 -49.021256
-23.595156 -46.676170
-28.595033 -49.319683
-13.777675 -42.723046
-23.486058 -46.628199
-23.621852 -46.603648
-28.459525 -52.204084
-23.534012 -47.467352
-12.137508 -38.418707
-30.854792 -51.814218
-28.672535 -49.368594
-23.541640 -46.603224
-23.780341 -46.711953
-18.765542 -44.910887
-20.000205 -44.080313
-23.089035 -47.214419
-10.441255 -45.168586
-22.228424 -50.904289
-12.898070 -38.485037
-27.327019 -53.055681
-25.450057 -49.260674
-19.803182 -40.856904
 -4.125953 -63.135327
-21.778927 -48.158905
-23.419864 -51.937051
-20.935519 -50.496918
 -5.063538 -36.051730
-22.896819 -43.281308
-19.942907 -44.020035
-22.905809 -43.194009
-21.125743 -42.922605
-22.416152 -42.969016
-12.612785 -38.308803
-14.210092 -41.681238
-20.158251 -44.882438
 -3.123678 -40.151560
-22.888944 -43.280869
-23.175897 -46.886594
-23.578268 -46.737470
-23.011996 -45.576958
-19.959421 -43.994034
-23.541732 -46.677108
 -8.158611 -34.939388
-23.567009 -46.637529
-22.931096 -47.054706
-23.940457 -46.285801
-23.561681 -46.506271
-23.634156 -46.594013
-23.479430 -52.696046
-22.716839 -47.657366
-22.000494 -50.391712
-23.625104 -46.728353
-23.508762 -46.147078
-23.540224 -46.645277
-27.264563 -49.710907
-23.527735 -46.644800
-23.475970 -46.591459
-24.017041 -46.442917
-29.580231 -55.486023
-22.413417 -45.474310
-23.511896 -47.065993
-26.240648 -49.392259
-31.321519 -54.100784
-19.977267 -44.030221
-22.845195 -43.302899
-23.287981 -45.957035
-23.277793 -46.752731
-23.540069 -46.593450
-23.629764 -46.464650
-23.490474 -46.606392
-33.691423 -53.480161
 -9.416076 -40.496606
-23.540513 -46.517681
-23.549127 -46.843479
-23.405762 -46.873607
-16.370771 -39.570837
-23.179651 -46.905764
-22.815880 -43.418993
-21.426570 -50.067918
-21.475875 -47.556651
-23.584071 -46.634947
-23.976340 -46.297815
-21.409881 -48.496894
-26.348809 -53.276977
-23.535696 -46.641413
-22.404280 -47.578434
-23.500291 -46.585615
-23.524341 -46.547449
-23.667886 -46.742222
-23.975255 -46.193876
-22.938628 -43.360653
-22.904585 -43.279660
 -5.879141 -35.201423
-23.536185 -46.676565
-22.131235 -45.056949
 -8.115400 -35.289129
-22.880712 -43.371485
-23.554843 -47.459862
-31.744068 -52.294588
-21.358247 -41.941457
-23.602624 -46.551364
-27.141057 -48.961461
-23.122708 -48.921441
-23.617108 -46.641662
-27.681386 -48.510674
-23.424512 -46.353605
-13.389942 -44.193807
-18.858230 -41.950410
-20.134886 -40.314499
-23.562217 -46.711981
-23.577055 -46.569712
-23.877860 -46.659051
 -8.286689 -35.971164
-16.734844 -49.343639
-23.446350 -46.543655
-22.363302 -47.386736
 -7.535494 -39.115642
-23.204901 -45.950860
-23.574925 -46.685052
-23.483450 -46.680682
-23.531081 -46.517914
-23.609132 -46.612587
-12.948854 -38.447562
-30.159469 -50.832839
-15.838915 -47.869708
-23.636379 -46.644600
-23.640572 -46.570773
-29.887281 -50.269397
-23.512063 -46.496335
-21.786967 -48.570604
-22.741390 -43.447927
-23.572199 -46.639131
-23.489585 -46.681920
-23.610707 -46.639945
-23.322033 -46.703630
-22.498183 -44.123614
-23.497787 -46.490196
-23.561083 -46.785104
-19.849883 -44.020290
-26.021367 -48.851805
-23.416104 -46.820951
 -7.995470 -34.909481
-22.883611 -49.617854
-23.508810 -46.666501
-23.667252 -46.611877
-23.280240 -47.284083
-20.385237 -43.505513
-12.929673 -38.445114
-22.896458 -43.038940
-25.494086 -49.263758
 -6.756440 -38.228270
-15.670066 -48.199437
-27.790397 -48.559791
 -5.049972 -48.597853
-32.167248 -52.183437
-22.758866 -43.505321
-22.304362 -48.546445
-23.504777 -46.415002
-13.614511 -42.940814
-21.788001 -43.343068
-22.546108 -47.383618
-22.324084 -49.059599
-25.397762 -49.256762
 -7.641581 -43.953939
-16.721493 -49.244761
-22.965877 -43.218976
-23.606865 -46.555109
-15.776146 -47.886904
-23.414784 -46.974449
-23.199958 -45.908492
-23.711919 -46.687252
-21.185945 -47.814983
-28.326034 -49.065664
-23.567395 -46.792957
-22.732598 -43.444196
-23.787228 -45.557140
-25.449502 -49.054949
-16.363231 -45.071161
-24.950870 -53.450327
 -7.998068 -34.860134
 -9.974562 -67.809656
-22.609190 -43.170403
-19.850548 -43.904000
-17.082321 -42.258202
-22.438121 -46.973525
-23.604797 -46.799991
-23.283269 -45.939405
-16.802705 -49.252201
-15.844946 -47.985275
-23.377397 -51.931006
-22.321557 -49.099336
-21.208515 -41.874847
-20.619787 -49.648203
-12.991956 -38.442804
-22.867253 -47.231729
 -9.581508 -35.757583
-23.516857 -46.770197
-27.494330 -48.662424
-23.634372 -46.697060
-13.006495 -38.476775
-23.112240 -47.711214
 -2.486245 -44.250925
-19.956016 -44.047034
-23.595822 -46.776913
-21.674794 -49.737751
-22.747039 -47.343220
       NaN        NaN
-23.529435 -46.346989
-23.502811 -46.581762
 -7.229946 -35.895003
-23.526614 -46.706493
 -7.749231 -37.636856
-20.325759 -48.319543
-21.408647 -45.962627
-22.871875 -42.269220
-22.151826 -42.418110
-29.409596 -54.830556
-23.562881 -46.696561
-15.847925 -47.923812
-23.617301 -46.757731
-22.016967 -47.851715
-19.867166 -43.935134
       NaN        NaN
 -2.417575 -54.712887
-31.301643 -54.137571
-19.787684 -44.010877
 -7.209242 -35.877789
-11.383920 -37.660501
-19.901056 -43.974300
-23.465608 -46.555242
-23.444233 -46.548485
-19.958089 -43.975531
-23.557338 -46.638777
-18.661109 -41.406015
-22.041836 -47.894826
-23.546490 -46.692297
-25.102204 -50.143929
-23.482999 -46.878689
-29.661272 -51.149168
-27.457773 -53.936051
-23.538450 -46.668776
-23.669005 -46.718025
 -9.375703 -36.379161
-23.649762 -46.782369
-23.593023 -46.646573
-23.527077 -46.696482
-29.173247 -51.167081
-23.707347 -46.566874
-23.279658 -47.661857
-22.962080 -43.167976
-24.718585 -53.761817
-18.849864 -50.120866
-15.656755 -47.808583
-23.450662 -46.686852
-23.617603 -46.631112
-22.712534 -42.895405
-20.530671 -47.398519
 -9.617634 -35.762711
-14.831474 -40.885583
-21.532914 -46.639802
-21.575608 -45.446966
-21.777754 -43.295462
-20.072235 -41.132607
-23.498254 -46.578473
-20.390538 -44.338834
-22.902169 -43.184318
-16.377875 -39.587539
-23.178732 -45.889711
-23.526509 -46.731703
-20.746977 -46.749023
-23.604641 -46.671571
-23.488133 -46.607660
-12.993607 -38.444995
-16.672707 -49.256978
-23.275074 -45.889107
-29.374543 -50.799316
-23.098864 -46.547895
-22.827870 -43.019696
-23.539013 -47.491042
-19.929644 -48.382731
-11.624707 -50.691824
-23.697731 -46.578935
-29.959284 -51.107407
-20.470615 -54.571437
-22.794517 -43.008270
-23.646453 -46.669958
-23.482875 -46.608005
-27.568919 -48.633246
-20.091108 -50.929998
-19.797689 -43.934199
-12.973807 -38.481924
-21.659732 -49.741818
-16.736457 -49.245033
-16.301606 -48.951893
-28.681843 -49.384510
-28.680422 -49.369952
-19.835977 -43.991608
 -5.074255 -42.819839
 -3.684198 -40.316432
-15.812648 -42.232591
-19.487307 -44.159097
-29.656940 -51.164088
-23.548614 -46.764713
-23.564190 -46.643570
-12.898937 -38.359757
-22.011391 -47.886487
-10.506780 -40.317310
-22.130469 -51.408497
 -9.389995 -38.227673
-26.393086 -52.338824
-23.777967 -46.601970
-16.735303 -49.206751
-22.136516 -51.396204
-25.404095 -52.413260
-12.354000 -38.380318
-23.491792 -46.947333
 -7.917011 -34.930424
-14.820536 -39.031330
-23.534756 -46.287867
-22.973769 -43.701853
-22.530235 -44.116742
-21.758085 -43.333960
-23.533845 -46.649407
-23.616801 -46.786843
-27.142942 -48.507287
-23.547160 -46.649895
-23.575067 -48.041256
 -5.287951 -36.763057
-19.855791 -43.917517
-23.491265 -46.637852
 -5.639049 -35.426213
-29.999337 -51.073909
-22.766360 -43.432692
-23.632250 -46.752670
-13.721174 -59.265404
-20.422366 -51.337439
-23.471435 -46.640623
 -8.001647 -34.852940
-20.462491 -54.546997
-23.574421 -46.664222
-15.609941 -56.071066
-23.993679 -46.288181
 -3.826294 -38.489229
-21.804786 -48.203018
-23.643091 -46.512616
-22.898689 -43.217118
-23.499698 -46.722537
-23.410676 -46.422912
-21.564375 -51.347684
-21.120087 -42.910679
-24.446538 -50.756640
-25.640444 -53.344507
-20.437734 -44.759140
-23.603187 -46.620963
-15.826541 -47.920943
-22.512250 -48.556439
 -3.473352 -41.552138
-23.567259 -46.583122
 -9.749041 -36.668659
-27.610337 -48.647666
-25.375735 -49.261642
-15.604798 -56.130640
-23.087761 -48.369336
-28.389218 -51.846012
-18.990006 -49.480126
-23.518969 -46.537434
-23.668972 -46.702512
-23.525674 -46.769022
-23.673825 -46.588830
 -3.744128 -38.510859
-20.664075 -40.497734
-12.219344 -38.972682
-23.451110 -46.550070
-23.543717 -46.856437
-12.961184 -38.470405
-22.929912 -47.071896
-19.970675 -43.949433
-30.027728 -51.187083
-19.431224 -42.258300
-23.526629 -46.536472
-22.513759 -44.097311
-23.584067 -46.669981
-23.505090 -46.809600
-20.203110 -41.799953
-23.569086 -46.527387
-15.666498 -47.819948
-22.979931 -46.542097
-23.603266 -46.658822
-22.750136 -51.377836
 -3.832768 -38.515997
-10.813165 -55.457305
-17.991484 -46.909679
-22.601545 -42.744759
-22.978162 -43.693012
-22.525262 -44.142754
-23.519375 -46.192690
-23.491895 -46.546294
-23.528716 -46.620265
-23.762636 -45.413142
-22.786830 -43.430642
-23.556927 -46.661542
-23.542758 -46.645474
-23.603256 -46.515042
-22.752261 -47.621538
-23.543018 -46.823825
-23.334722 -51.145223
-23.592626 -46.486169
-20.431024 -48.017015
-29.846108 -51.169152
-25.469214 -49.293935
-23.502477 -46.855634
-22.988875 -46.841976
-23.272347 -51.285817
-20.199173 -40.229475
 -4.920425 -49.077074
-17.740698 -46.175478
-22.818640 -43.021402
-23.679122 -46.799561
-21.301706 -50.331986
 -2.556161 -44.258779
-13.657924 -57.888390
-23.433602 -46.296841
-19.754088 -47.944861
-23.491143 -46.626019
-26.064507 -50.750045
-23.461368 -46.601105
-23.716885 -46.541991
-22.884682 -43.110496
 -8.189354 -34.930497
-12.255605 -38.920303
 -6.085818 -49.898551
 -8.013860 -35.016475
-19.395302 -40.054843
-26.564003 -52.327487
-15.806381 -47.895809
-25.981048 -52.569848
-22.920809 -43.093688
 -5.105533 -42.739312
-22.326737 -41.729145
-23.583749 -46.734721
-23.179890 -46.928510
-21.109754 -42.948015
-20.340523 -49.195992
-10.940184 -37.070850
-23.546081 -46.644820
-13.440039 -40.434908
-22.277504 -49.072015
-27.712310 -48.504954
-23.532735 -46.654324
-22.126268 -47.661652
-29.586835 -51.371594
-26.870625 -52.404488
-23.539598 -46.601605
-22.424519 -45.468142
-23.532968 -46.708293
-20.224622 -42.643593
-23.536707 -46.728636
-19.888525 -44.081363
-21.576617 -45.401118
 -6.966682 -35.700057
-22.742673 -43.468961
-22.768581 -43.383213
-23.555706 -46.749310
-28.218428 -51.536434
-30.042102 -51.183052
-23.565986 -46.785042
-15.779209 -47.877772
-21.135176 -47.841448
-22.709518 -46.769181
-26.270856 -48.861666
-15.724707 -47.889696
-12.541159 -55.743145
-18.710634 -51.085713
-18.952110 -49.457495
-23.036952 -45.569976
-19.916277 -43.984299
-22.409684 -41.808721
-26.490469 -49.117775
-22.498962 -44.092713
-23.559626 -46.571163
-26.365439 -48.826461
-22.505213 -44.095369
-23.635562 -46.733258
-22.068283 -50.307334
-21.178602 -48.898988
-18.011602 -49.375309
-23.256822 -45.940890
-22.609708 -43.713693
-27.055803 -49.626172
-29.626648 -53.365748
-20.849363 -41.115212
-22.892973 -43.054212
-23.503063 -46.684047
-23.591120 -46.729955
-23.498570 -46.623353
-25.441032 -49.296703
-26.775134 -49.416454
 -7.987256 -34.910840
-25.484789 -49.255366
-12.985621 -38.491676
-22.985713 -44.305205
-23.501588 -46.463513
-18.859646 -41.955746
-23.540146 -47.492016
-15.622038 -56.165331
-23.603368 -46.510023
-25.452297 -49.144924
-23.672090 -46.739566
 -9.044377 -36.847174
-20.343838 -40.314030
-20.688616 -43.299073
-22.861170 -47.065733
-23.491862 -46.659268
-27.623801 -48.674286
-15.793056 -47.848963
-23.533167 -46.512915
-25.111347 -50.146052
-23.961307 -46.395095
 -9.402775 -38.219764
 -7.105838 -34.876439
-18.730463 -39.845664
-23.508599 -46.479868
-21.951603 -46.797368
-18.614872 -46.504639
-26.910294 -49.139432
-22.969558 -43.691022
-28.544618 -49.061520
-22.870215 -43.509114
-23.572061 -46.636137
-23.630342 -46.763403
-22.914269 -45.429146
-23.687831 -46.610655
 -3.652018 -45.373507
-23.325326 -51.158434
-22.918600 -42.038481
-21.745860 -43.363259
-25.480154 -49.296872
-24.289992 -47.175537
-23.509524 -47.515613
-20.767901 -49.711383
-23.312598 -51.368949
-23.552457 -46.780126
-23.483929 -46.546658
-23.575207 -46.773264
-23.535386 -46.760924
-23.879082 -46.738881
-22.002139 -51.136021
-22.901095 -43.182559
-30.073570 -51.202947
-25.430492 -49.159583
-20.322293 -40.392848
-21.129687 -48.959593
-22.757494 -43.420941
-20.453570 -54.628072
-23.513707 -46.652629
 -6.549959 -49.846528
-23.714579 -46.545812
-23.550013 -46.791826
 -8.093823 -34.967296
-23.579624 -46.673990
-22.992072 -49.872094
-23.599366 -46.646098
-23.536916 -46.690615
-23.530169 -46.864603
-27.467237 -49.656931
-23.483076 -46.753088
-29.159003 -51.499770
-20.329615 -40.383857
-26.063685 -53.054149
-23.570811 -46.621146
-23.618721 -46.676250
-23.581812 -46.644792
-23.543370 -46.732274
 -8.732501 -48.751981
-19.516290 -41.006217
-23.521079 -47.138172
-15.794197 -47.848101
-30.144365 -51.126372
-23.635808 -46.712098
-26.227820 -48.900539
-18.547803 -40.977619
-23.608841 -46.609842
-23.313115 -46.002623
-21.191194 -48.788097
-19.743807 -47.958079
-23.537056 -46.492164
-23.503655 -46.305412
-12.880970 -38.295073

In [102]:
distance = {"distance" : []
           }


for latitude_customer, longitude_customer, latitude_seller, longitude_seller in df_bdd[["latitude_customer","longitude_customer", "latitude_seller", "longitude_seller"]].to_numpy():
    coords_1 = (float(latitude_customer), float(longitude_customer))
    coords_2 = (float(latitude_seller), float(longitude_seller))
    try:
        res = geopy.distance.geodesic(coords_1, coords_2).km
        distance["distance"].append(res)
    except:
        distance["distance"].append(np.nan)
        print("error")
    
df_bdd["distance"] = distance["distance"]
df_bdd

# #     distance.append(geopy.distance.geodesic(coords_1, coords_2).km)
# for longitude, latitude in geoloc.items():
#     if longitude != 'nan' or latitude != 'nan':
#         print(longitude, latitude)

error
error
error
error
error
error
error
error
error
error
error
error
error
error
error

,nb_product,prix_de_livraison,product_price,weight,lenght,height,width,zip_code_customer,zip_code_seller,date_purchase,date_delevery_estimate,date_delivery,zip_code,latitude_customer,longitude_customer,zip_code_seller,latitude_seller,longitude_seller,distance
0,1,7.39,10.91,225.0,16.0,10.0,14.0,13848,3694,2018-04-24 16:16:53,2018-05-09 00:00:00,2018-04-27 16:42:17,13848.0,-22.331249,-46.922580,3694.0,-23.537922,-46.477696,141.206907
1,1,17.99,248.00,1000.0,30.0,18.0,20.0,20551,2955,2018-01-31 18:55:36,2018-02-22 00:00:00,2018-02-16 13:27:08,20551.0,-22.915371,-43.242996,2955.0,-23.468441,-46.720688,361.255505
2,1,7.82,79.80,154.0,18.0,9.0,15.0,5821,2016,2018-07-09 21:18:01,2018-07-18 00:00:00,2018-07-11 23:24:16,5821.0,-23.666423,-46.753278,2016.0,-23.500978,-46.627123,22.395881
3,1,9.54,112.30,371.0,26.0,4.0,26.0,2018,13330,2018-08-03 08:55:50,2018-08-08 00:00:00,2018-08-06 15:14:32,2018.0,-23.493511,-46.631067,13330.0,-23.089035,-47.214419,74.618935
4,1,8.29,37.90,625.0,20.0,17.0,13.0,5835,4461,2018-04-11 01:06:37,2018-04-26 00:00:00,2018-04-13 22:41:44,5835.0,-23.653137,-46.759223,4461.0,-23.692896,-46.680210,9.184295
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1430,1,26.03,169.99,3350.0,62.0,20.0,40.0,39113,8599,2018-01-26 14:36:46,2018-02-22 00:00:00,2018-02-27 19:16:48,39113.0,-17.694884,-43.333244,8599.0,-23.462597,-46.335317,711.055474
1431,1,24.84,39.99,100.0,16.0,2.0,11.0,68926,9572,2017-02-28 22:12:55,2017-04-07 00:00:00,2017-03-16 13:42:06,68926.0,-0.053523,-51.160746,9572.0,-23.643648,-46.563861,2656.777335
1432,1,26.09,269.90,1133.0,30.0,18.0,23.0,58690,26125,2017-02-16 19:56:08,2017-03-29 00:00:00,None,58690.0,-7.379848,-36.942182,26125.0,-22.728758,-43.402930,1834.043488
1433,1,37.16,35.00,150.0,16.0,8.0,16.0,62748,5043,2018-07-15 10:46:14,2018-08-09 00:00:00,2018-07-27 20:43:29,62748.0,-4.467966,-38.901787,5043.0,-23.526016,-46.689754,2268.677888
1434,1,34.69,127.00,1400.0,27.0,7.0,27.0,65910,19470,2018-02-12 00:27:57,2018-03-15 00:00:00,2018-03-15 21:12:32,65910.0,-5.520220,-47.475720,19470.0,-21.772896,-52.109458,1866.290425

### on verifie que les valeurs inserer

In [106]:
print(geopy.distance.geodesic((-22.331249, -46.922580), (-23.537922, -46.477696)).km)
print(geopy.distance.geodesic((-22.915371, -43.242996), (-23.468441, -46.720688)).km)

141.20689555303554
361.2555347525922

In [ ]:

df_bdd.drop(columns=['zip_code'])